

.card1{

    display: flex;
justify-content:space-between;
align-content: center;
display: inline-block;
margin-top: 3rem;
width: 15rem;

    transition: transform 0.2s ease-in-out;
    position: relative;
  z-index: 1;
  
}

.card3:hover { 
  transform: scale(1.2);
  position: relative;
z-index: 2;
}

.violet1{

  background-color: rgba(150, 60, 235, 0.438);
}
