.color4{

    background-image: url(../../assets/background.png);
    height: 80rem;
    background-size:cover
}

.h1{

font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    color: white;
}