.color1{

    background-color: rgba(150, 60, 235, 0.438);
}

.logo{
width: 100px;
height: 100px;
margin-left: 5rem;
    
}

.carrito{
padding-right: 3rem;
}

.cero {
    display: flex;
    display: inline-block;
    color: white

}

.letra{

    text-decoration: none;
}
