.Number{
margin-left: 2rem;
margin-right: 2rem;
font-size: 60px;

}

.controls{

display: flex;
justify-content: center;
}

.Control {
    
    height: 50px;
    background: #585eb9d3;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #1e7fc9;
    font-family: Courier New;
    color: #ffffff;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}

.color7{

background-color: #9a7aa8;

}